.hero {
  background-color: #99ffcc;
  font-family: 'Heebo', sans-serif;
}

.alt-header {
  align-items: center;
}

.icon-spacing {
  padding-right: 4px;
}

.heart-spacing {
  margin-right: 3px;
}

a {
  color: inherit;
}

.footer-position {
  margin: 0;
}