@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.hero {
  background-color: #99ffcc;
  font-family: 'Heebo', sans-serif;
}

.intro {
  margin-bottom: 4rem;
}

.logo {
  font-size: 3.75rem;
  font-family: 'Fira Sans', sans-serif;
}

.card-spacing {
  padding: 1.5rem;
}

.icon-spacing {
  padding-right: 4px;
}

.heart-spacing {
  margin-right: 3px;
}

.profile-img {
  box-shadow: 0px 0px 10px gray;
  width: 80%;
}

#about-h2 {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 5%;
}

.bio-padding {
  padding: 0 10% 5% 10%;
}

.img-position {
  text-align: center;
}

.icon-adjust {
  width: 60px;
}

a {
  color: inherit;
}

.footer-position {
  margin: 0;
}

.card-display {
  display: none;
}

@media (min-width: 426px) and (max-width: 1023px) {
  .profile-img {
    width: 50%;
  }
}

@media (min-width: 426px) {
  .card-display {
    display: block;
    width: 50%;
  }

  .project-text {
    width: 40%;
    padding: 0 5%;
  }

  .project {
    margin-bottom: 10%;
  }

  .logo-margin {
    margin: 5% 5% 0px 0px;
  }

  .logo-section {
    margin-top: 5%;
  }

  .portfolio-container {
    max-width: 80vw;
  }
}