@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.hero {
  background-color: #99ffcc;
  font-family: 'Heebo', sans-serif;
}

.intro {
  margin-bottom: 4rem;
}

.logo {
  font-size: 3.75rem;
  font-family: 'Fira Sans', sans-serif;
}

.card-spacing {
  padding: 1.5rem;
}

.icon-spacing {
  padding-right: 4px;
}

.heart-spacing {
  margin-right: 3px;
}

.profile-img {
  box-shadow: 0px 0px 10px gray;
}

a {
  color: inherit;
}

.footer-position {
  margin: 0;
}